* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: url('./assets/img.jpg') no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(200%, -100%);
    background: #5e325d;
    filter: blur(10px) contrast(15);
}

.container span {
    background: #fff;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
}

.container p {
    position: absolute;
    top: 50%;
    left: 50%;
}

.container p:nth-child(1) {
    position: absolute;
    animation: skewing-child 0.2s ease-in-out infinite alternate;
}

.container p:nth-child(1) span {
    width: 50px;
    height: 50px;
    margin: -25px;
    animation: moving 2s cubic-bezier(0.97,0.01,0.12,0.99) infinite alternate;
}

.container p:nth-child(2) {
    position: absolute;
    animation: squishing 1s ease-in-out infinite alternate;
}

.container p:nth-child(2) span {
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin: -60px;
    animation: skewing 2s 1.15s ease-in-out infinite;
}

@keyframes skewing {
    0% {
        transform: skewX(6deg);
   }
    10% {
        transform: skewX(-6deg);
   }
    20% {
        transform: skewX(4deg);
   }
    30% {
        transform: skewX(-4deg);
   }
    40% {
        transform: skewX(2deg);
   }
    50% {
        transform: skewX(-6deg);
   }
    55% {
        transform: skewX(6deg);
   }
    60% {
        transform: skewX(-5deg);
   }
    65% {
        transform: skewX(5deg);
   }
    70% {
        transform: skewX(-4deg);
   }
    75% {
        transform: skewX(4deg);
   }
    80% {
        transform: skewX(-3deg);
   }
    85% {
        transform: skewX(3deg);
   }
    90% {
        transform: skewX(-2deg);
   }
    95% {
        transform: skewX(2deg);
   }
    100% {
        transform: skewX(1deg);
   }
}

@keyframes skewing-child {
    0% {
        transform: skewX(-10deg);
    }
    100% {
        transform: skewX(10deg);
    }
}

@keyframes moving {
    0% {
        transform: translate(-200px);
    }
    30% {
        transform: translate(-45px);
    }
    70% {
        transform: translate(45px);
    }
    100% {
        transform: translate(200px);
    }
}

@keyframes squishing {
    10%, 40%, 80% {
        transform: scale(1,0.9);
    }
    0%, 30%, 60%,100% {
        transform: scale(0.9, 1);
    }
}

@media (max-width: 900px) {
    .container {
        transform: translate(-25%, -100%);
    }
}

